{% extends "base.html" %}

{% block content %}
    <div class="body_index">
        <div class="block_index_title">
            <div class="parent">
                <div class="transparent"></div>
                <div class="text_index_title">Форум любителей вельш корги </div>
            </div>
        </div>
        <div class="block_main_title">Корги</div>
        <div class="block_main_content">
            <div class="block_main_img"></div>
            <div class="block_main_text"> <p>Вельш-корги – небольшая собака с забавной внешностью и
                                        жизнерадостным, общительным нравом. Корги –
                                        удивительная собака, любимая порода Ее Величества королевы
                                        Великобритании Елизаветы ІІ, маленькая овчарка с большим и
                                        бесстрашным сердцем.</p></div>
            <div class="block_main_img2"></div>
        </div>
        <div class="text_map">
                Если наш форум воодушевил Вас на покупку корги, то мы с радостью поделимся лучшими питомниками
                породы вельш корги пемброк и вельшь корги кардиган:
        </div>
        <!-- Контейнер для карты -->
        <div id="map"></div>
    </div>
{% endblock %}